


* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-top: 100px;
   font-family: 'Raleway', sans-serif;
  }

  