

<button (click)="back()">back </button>


<div class="container my-5">

    <!-- Section -->
    <section>
      

      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Details</h6>
      
          
      
      <!--First row-->
  
      <!--Tab panels-->
      <div class="tab-content mb-5">
  
        <!--Panel 1-->
        <div class="tab-pane fade show in active" id="panel31" role="tabpanel">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12 col-lg-4">
  
              <!-- Card -->
              <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">
  
                <!-- Card image -->
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img3.jpg" alt="Card image cap">
  
                <!-- Card content -->
                <div class="card-body">
  
                  <h5 class="my-3">Phone Bag</h5>
                  <p class="card-text text-uppercase mb-3">Bag, Box</p>
  
                </div>
  
              </a>
              <!-- Card -->
  
            
  
            </div>
          
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </div>
        
  
      </div>
      <!--Tab panels-->
  
    </section>
    <!-- Section -->
  
  </div>
